* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Red Hat Text", sans-serif;
    background-image: url('../../images/bg-stars.svg'), linear-gradient(hsl(235, 16%, 14%),#211A29);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
}

h1 {
    font-size: 20px;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    position: absolute;
    top :20%;
    text-align: center;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.countdown div {
    margin: 10px;
}

.countdown span{
    display: block;
    color: hsl(237, 18%, 59%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 20px;
}

.countdown p {
    padding: 20px 10px;
    background-color: hsl(236, 21%, 26%);
    border-radius: 5px;
    color: hsl(345, 95%, 68%);
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    text-align: center;
}

.socials {
    position: absolute;
    bottom: 0px;
    z-index: 999;
    height: 25%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/pattern-hills.svg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.socials ul {
    display: flex;
}

.socials ul li {
    margin: 0 20px;
}

@media (max-width: 500px) {
    .countdown  {
      transform: scale(0.5);
    }
    h1{
      transform: scale(0.5);
      top: 50px;
    }
    .socials{
        height: 120px;
    }

}